<!-- <p>add-employee works!</p> -->
<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required
                [(ngModel)]="employee.name"
                name="name"
                />
            </div>
            
            <div class="form-group">
                <label for="department">Department</label>
                <input 
                class="form-control" 
                id="department" 
                required 
                [(ngModel)]="employee.department" 
                name="department"
                />
            </div>

            <button (click)="saveEmployee()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Employee submitted successfully</h4>
            <button class="btn btn-success" (click)="newEmployee()">Add</button>
        </div>
    </div>
</div>